/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/*===== 
Author: Adam Jamiu {DLiTeCoder}
Project Name: My Personal Portfolio Website
Date: 2021
Github: https://github.com/AdamJamiu/
Project repo: https://github.com/AdamJamiu/AdamJamiu.github.io

=====*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  scroll-margin-top: 4rem;
}

::selection {
  background-color: #9a12b3;
  color: #fff;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:link {
  text-decoration: none;
}

.container {
  padding: 0 3em 0 3em;
}

/* Sticky Social bAR */
.sticky__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  padding: 35px;
  gap: 2em;
  position: absolute;
  top: 11em;
}

.left {
  left: 1px;
}

.right {
  right: 10px;
  position: fixed;
}

/* Hero Section */

.hero {
  display: flex;
  margin-top: 6em;
  padding-left: 100px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 13em;
}

.hero_txt {
  color: #f2f2f2;
  font-weight: 400;
  font: 16px;
  width: 100%;
}

.hero__title {
  color: #f2f2f2;
  font-size: 40px;
  font-weight: 400;
  width: 100%;
}

.hero_col {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.front-end {
  font-size: 24px;
  color: rgb(119, 119, 121);
  font-weight: 400;
  margin-bottom: 0.8em;
  width: 100%;
}

.bx-mouse {
  font-size: 3.5em;
  color: #f2f2f2;
  font-weight: 100;
}

.bxs-down-arrow-alt {
  color: #f2f2f2;
  font-size: 2em;
}

.home_scroll {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  cursor: pointer;
  width: 100%;
  color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-align: left;
  gap: 0.6em;
  flex-wrap: nowrap;
  margin-top: 5em;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.scroll {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #f2f2f2;
}
/*===== PORTFOLIO SECTION ===== */
.portfolio {
  /* background: #f7f4ff; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;

}

.portfolio-wrap {
  width: 800px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: red;
  /* overflow: hidden; */
}

.port-col {
  display: flex;
  justify-content: center;
  width: max-content;
  justify-content: center;
}

.port-head {
  font-weight: 700;
  font-size: 20px;
}

.port-label {
  color: #0000004a;
  font-weight: 500;
  margin-bottom: 4%;
}
.port-img {
  border-radius: 1rem;
  box-shadow: 2px 2px 50px rgb(0 0 0 / 15%);
  transition: transform 0.5s;
  cursor: pointer;
  display: block;
}

.port-img:hover {
  transform: scaleY(1);
}

.port-details {
  width: 100%;
}

.project-name {
  font-size: 24px;
  font-weight: 500;
  line-height: 2.5;
}

p {
  margin: 0 !important;
  padding: 0 !important;
}

.port-txt {
  font-size: 0.975rem;
  color: #878787;
}


/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  /* background-color: var(--first-color); */
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== Header Section =====*/

.l-header {
  /* background-color: #12181b; */
  height: 100vh;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("./assets/img/Vector.svg");
  background: #151418;
}

.logo {
  float: left;
}

@media only screen and (max-width: 400px) {
  .home__scroll {
    display: none;
  }
  .l-header {
    background-size: 1000%;
    background-position: 180%;
  }

  .skills-wrap {
    flex-direction: column;
  }

  .typewrite {
    visibility: hidden;
  }

  .passion-row {
    gap: 1em;
  }

  .skills__grid-wrap {
    flex-direction: column;
    flex-direction: row;
    width: 100%;
  }

  h2.skills-header {
    font-size: 37px;
    margin-left: 5em;
  }
}

.Home-text-animation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4em;
  font-size: 25px;
  font-weight: 600;
}

/*===== NAV =====*/

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  transition: 0.5s ease;
  width: 100%;
  height: 15vh;
  z-index: 9;
  padding: 0.1em 3em 0 3em;
}

.fa-cog {
  color: #fff;
  font-size: 27px;
  cursor: pointer;
  background-color: #9a12b3;
  padding: 0.4em 0.5em;
  border-radius: 7px;
}

.nav-link__item {
  padding: 3em;
}

.link__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3em;
}

.nav__item:active {
  text-decoration: underline;
}

a.nav__link {
  color: #878787;
  font-size: 18px;
}
a.nav__link:hover {
  color: #f2f2f2;
}

@media only screen and (max-width: 600px) {
  .nav {
    color: #f2f2f2;
    width: 100%;
  }

  ul li {
    display: block;
  }

  .fa-cog {
    background: none;
  }
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  row-gap: 1rem;
}
.home__data {
  align-self: center;
}
.home__title {
  font-size: 38px;
  margin-bottom: -0.8rem;
  font-weight: 800;
}
.home__title-color {
  color: #f2f2f2f2;
}
.home__social {
  display: flex;
  flex-direction: column;
}
.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}
.home__social-icon:hover {
  color: var(--first-color);
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 295px;
}

.avatar {
  width: 10em;
  transition: transform 0.5s ease-in-out;
  border-radius: 50rem;
  cursor: pointer;
}

.ANIMATION {
  visibility: visible;
  opacity: 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -80, 0, 1);
  transition: opacity 2s cubic-bezier(0.5, 0, 0, 1) 0s,
    transform 2s cubic-bezier(0.5, 0, 0, 1) 0s;
}

.avatar:hover {
  transform: translate(10px, -10px);
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
}
.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
  background-color: var(--second-color);
}

/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle {
  margin-bottom: var(--mb-2);
}
.about__img {
  justify-self: center;
}
.about__img img {
  border-radius: 0.5rem;
}

/* ===== SKILLS =====*/
.skills-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.skills__grid-wrap {
  display: flex;
  flex-direction: row;

  gap: 6em;
}

.skills__container {
  row-gap: 2rem;
}
.skill__subtitle {
  margin-bottom: 1em;
  color: #9a12b3;
  font-size: 18px;
  text-align: left;
}

.skills-content {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  flex-wrap: wrap;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
}

p.skills__name {
  border-bottom: 1px solid black;
  font-size: 17px;
}

.skills-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 40%;
  flex-wrap: wrap;
  height: fit-content;
}

@media only screen and (max-width: 550px) {
  div.skills__grid-wrap {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .portfolio {
    padding: 3em;
  }

  .port-details {
    padding-top: 2em;
    width: 100%;
  }

  .swipe {
    display: none;
  }

  .skills__name {
    font-size: 16px;
  }

  p.skills-content {
    width: 100%;
  }

  .port-label {
    margin-bottom: 9em;
  }
  div.about-wrap {
    flex-direction: column-reverse;
    gap: 0em;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 986px) {
  .skills__name {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1046px) {
  .skills__grid-wrap {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
  }

  .skills-content {
    width: 100%;
  }
}
.skills-header {
  color: #000000;
  font-weight: 800;
  text-align: left;
  margin-left: 9.5em;
  width: 100%;
  margin-bottom: 2em;
}

/* ===== WORK =====*/
.work__container {
  row-gap: 2rem;
}
.work__img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
.work__img img {
  transition: 1s;
  cursor: pointer;
}
.work__img img:hover {
  transform: scale(1.1);
}

/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
footer {
  /* background-color: #171717; */
  text-align: center;
  padding-left: 22%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.footer {
  display: flex;
  flex-direction: row;
  gap: 10%;
  text-align: left;
}

.footer__social {
  margin-bottom: var(--mb-4);
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}

.bxl-instagram,
.bxl-github,
.bxl-twitter {
  color: #ffffff80;
  font-size: 2.2em;
  cursor: pointer;
}

.bxl-instagram:hover,
.bxl-github:hover,
.bxl-twitter:hover {
  color: #fff;
  transition: 0.4s ease;
}

.ex:hover {
  color: #fff;
  transition: 0.4s ease;
  cursor: pointer;
}
.footer-header {
  color: #ffffff;
  font-weight: 900;
}

.footer-link {
  color: #ffffff80;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.35;
  margin-bottom: 0.5rem;
  transition: color 0.35s;
  text-align: left;
  width: 80%;
}

@media only screen and (max-width: 400px) {
  .footer {
    display: flex;
    flex-direction: column;
    column-gap: 2em;
    justify-content: center;
  }

  .port-txt {
    padding-left: 3em;
    padding-right: 3em;
    margin-bottom: 6em;
    font-size: 17px;
  }
  .skills-wrap {
    justify-content: center;
    align-items: center;
    padding-left: 2em;
    padding-right: 2em;
  }
}

/* ===== About Section=====*/

.about-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.bx-left-arrow-alt {
  font-size: 25px;
}

.about-wrap {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4em;
  width: 100%;
}

.name-head {
  width: 50%;
}

.passion-wrap {
  width: 100%;
  height: 100%;
}

.passion__header {
  font-size: 28px;
  line-height: 4;
  font-weight: 800;
}

.typewrite {
  color: #f6f6f6f6;
}

.passion-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8em;
  flex-wrap: wrap;
}

.bx-code-alt,
.bx-book-open,
.bx-laptop {
  font-size: 22px;
  font-weight: bolder;
  color: #9a12b3;
  position: relative;
  top: 5px;
  right: 10px;
}

.passion-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.passions {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.passion__text {
  color: #878787;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.progress__wrap {
  border-radius: 0.5rem;
  /* background-color: #e0e0e0; */
  width: 130px;
  height: 10px;
}

.progress__bar-english {
  background-color: #9a12b3;
  height: 10px;
  width: 90%;
  border-radius: 10px;
}

.progress__bar-arabic {
  background-color: #9a12b3;
  height: 10px;
  width: 45%;
  border-radius: 10px;
}

.passion__subtitle {
  font-weight: 700;
}

.sub__title {
  color: #878787;
}

/* =====  CONTROLLER  =====*/

.controller {
  background-color: yellow;
  border-radius: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 2%;
  gap: 4em;
  position: relative;
  top: -65%;
  flex-wrap: wrap;
  left: -10%;
}

#line1,
#line2,
#line3 {
  background-color: #9a12b3;
  width: 15px;
  height: 15px;
  border-radius: 100em;
  cursor: pointer;
  border: 2px solid #9a12b3;
}

@media (max-width: 777px) {
  .scroll {
    display: none;
  }

  .bx-down-arrow-alt {
    visibility: hidden;
  }

  .home__scroll {
    display: none;
  }
}

@media (max-width: 992px) {
  .about-grid {
    text-align: center;
  }

  .avatar {
    margin-bottom: 2rem;
  }

  .about-grid {
    margin: 0%;
    text-align: center;
  }

  .portfolio {
    align-items: center;
    text-align: center;
  }

  .port-col {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .port-txt {
    text-align: center;
    line-height: 1.9;
    color: #000000a6;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.5998774509803921) 0%,
    rgba(0, 0, 0, 0.9248074229691877) 100%
  );
  overflow: hidden;
  transition: 0.5s ease;
}


.port-btn {
  font-size: 14px;
  color: #fff;
  background-color: #9a12b3;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.5em;
  cursor: pointer;
  padding-bottom: 0.5em;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-text:hover {
  background-color: blueviolet;
}

.overlay-container {
  position: relative;
}

.bx-arrow-back {
  color: #9a12b3;
  font-size: 1.4rem;
}

.swipe {
  margin-top: 5em;
  color: #9a12b3;
}

.swipe span {
  padding-left: 0.4em;
  font-family: "Poppins" sans-serif;
  font-size: 1.4rem;
}

.swipe {
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  cursor: move;
  animation-timing-function: ease-in-out;
}

@keyframes float {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0, 30px);
  }
}

.about-txt {
  line-height: 1.8;
  text-align: left;
  font-size: 0.987rem;
}

li:active {
  color: #9273cd;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

@media only screen and (max-width: 400px) {
  .about-txt {
    font-size: 1.2rem;
  }
}

.bx-down-arrow-alt {
  font-size: 1.3em;
  color: #fff;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-top: 5em;
  margin-bottom: 5em;
  overflow: hidden;
  cursor: move;
}

.swiper-wrapper {
  flex-direction: row;
  display: flex;
  overflow: hidden;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  width: 100%;
  height: fit-content;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}
